<!DOCTYPE html>
<html lang="en">
  <%- include('templates/head') %>
  <body class="container">
    <%- include('templates/navBar') %>
    <br />
    <h2>Carrito:</h2>
    <hr />
    <% if(userCart[0]?.products.length){ %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Miniatura</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tbody">
        <% userCart[0].products.map((prod)=>{ %>
        <tr>
          <th scope="row" id="prodId"><%= prod.sku %></th>
          <td><%= prod.description %></td>
          <td>$ <%= prod.price %></td>
          <td>
            <img src="<%= prod.thumbnail %>" alt="" height="50" width="50" />
          </td>
          <td>
            <form
              method="post"
              action="/cart/<%= userCart[0].cartId%>/productos/<%= prod.sku %>"
            >
              <button class="btn" type="submit">
                <img
                  src="https://cdn3.iconfinder.com/data/icons/basicolor-essentials/24/007_remove_trash-256.png"
                  alt=""
                  height="20"
                  width="20"
                />
              </button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <form
      method="post"
      action="/cart/confirmPurchase"
    >
      <button class="btn btn-outline-success" type="submit">
        Confirmar Pedido
      </button>
    </form>
    <% }else { %>
    <hr />

    <h3>No hay productos en el carrito.</h3>
    <% } %>
  </body>
</html>
