<!DOCTYPE html>
<html lang="en">
    <%- include('templates/head') %>
<body class="container" id="mainBodyAditionalDataContainer">
    <%- include('templates/navBar') %>
    <h2>Informacion adicional del Perfil</h2>
    <% if (!aditionalUserData?.fieldName) { %>
      <form id="userInput" class="col g-3 needs-validation" enctype="multipart/form-data" action="/signUpAditionalData"   method="post" novalidate">     
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nameParam" name='fieldName'>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Direccion</label>
          <input type="text" class="form-control" id="adressParam" name='adress'>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Edad</label>
          <input type="text" class="form-control" id="ageParam" name='age'>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Telefono</label>
          <input type="text" class="form-control" id="phoneParam" name='phone'>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>

        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Foto de Perfil</label>
          <input type="file" class="form-control" id="avatarParam" name='avatar'>
          <div class="valid-feedback">
            Parece bien!
          </div>
        </div>
        
        <div id="additionalDataButton" class="col-12">
          <button id="additionalDataButton" class="btn btn-outline-warning" type="submit" >Confirmar</button>
        </div>
      </form>
    <% } else { %>
      <div id="aditionalDataLoadedContainer" class="container">
        <div id="aditionalDataInfoContainer">
          <% if(aditionalUserData.fieldName) { %>
            <p>Nombre: <%= aditionalUserData.fieldName %></p>
          <% } %>
          <% if(aditionalUserData.adress) { %>
            <p>Direccion: <%= aditionalUserData.adress %></p>
          <% } %>
          <% if(aditionalUserData.age) { %>
            <p>Edad: <%= aditionalUserData.age %></p>
          <% } %>
          <% if(aditionalUserData.phone) { %>
            <p>Telefono: <%= aditionalUserData.phone %></p>
          <% } %>
          <form id="editAditionalDataForm" class="col g-3 needs-validation" enctype="multipart/form-data" action="/editAditionalDataForm"   method="get" novalidate">
            <div id="additionalDataButton" class="col-12">
              <button id="additionalDataButton" class="btn btn-outline-warning" type="submit" >Editar</button>
            </div>
          </form>
        </div>
        
        <div id="aditionalDataAvatarContainer" class="container"></div>
          <% if(aditionalUserData.avatarPath) { %>
            <p>Imagen de Perfil:</p>
            <img aria-placeholder="Imagen de perfil" src="<%= aditionalUserData.avatarPath %>" width="350" height="350">
          <% } %>
        </div>
      </div>
    <% } %>
</body>
</html>