<div id="productsTable">
  <h1>Productos registrados:</h1>
  <form class="form-inline my-2 my-lg-0 d-flex flex-row" id="searchInputForm">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      id="searchInput"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>

  <% if(products.length){ %>
  <form action="/cart/addProduct" method="post">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Miniatura</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="tbody">
        <% products.map((prod)=>{ %>
        <tr>
          <th scope="row" id="prodId"><%= prod.sku %></th>
          <td><%= prod.description %></td>
          <td>$ <%= prod.price %></td>
          <td>
            <img src="<%= prod.thumbnail %>" alt="" height="50" width="50" />
          </td>
          <td>
            <button class="btn" type="submit" value="<%= prod.sku %>" name="prodId">
              <div id="cartIcon">
                <img
                src="https://cdn0.iconfinder.com/data/icons/medical-1-2/48/47-512.png"
                alt=""
                height="15"
                width="15"
              />
                <img
                src="https://cdn1.iconfinder.com/data/icons/shopping-e-commerce-10/33/cart-512.png"
                height="25"
                width="25"
              />
              </div>
              
            </button>
          </td>
          <% if(isAdmin) { %>
            <td>
              <button id="deleteButton" type="button" class="btn deleteBtn" value="<%= prod.sku %>" name="prodId">
                <img
                src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/56-256.png"
                height="22"
                width="22"
              />
              </button>
            </td>
          <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </form>
  <% }else { %>

  <h3>No hay productos para mostrar.</h3>
  <% } %>
</div>
