<div>
  <h1>Productos registrados:</h1>
  <hr />
  <% if(products.length){ %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Miniatura</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id='tbody'>
      <% products.map((prod)=>{ %>
      <tr>
        <th scope="row" id="prodId"><%= prod.id %></th>
        <td><%= prod.title %></td>
        <td>$ <%= prod.price %></td>
        <td>
          <img src="<%= prod.thumbnail %>" alt="" height="50" width="50" />
        </td>
        <td>
          <button prodId="<%= prod.id %>" class='btn' onclick="deleteItem(event)">
            <img prodId="<%= prod.id %>" src="https://cdn1.iconfinder.com/data/icons/color-bold-style/21/56-256.png" alt="" height="20" width="20">
          </button>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% }else { %>
  <hr />
  
  <h3>No hay productos para mostrar.</h3>
  <% }; %>
</div>

